.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
#Can't see a thing with these
*.pdf
*~
data/logs
*.zip
*.log
*.aux
*.bbl
*.blg
*.dvi
*.tex
*.out
**/auto
**/rsconnect
